body{
    color: #d6c2a5;
    position: relative;
    background-color: rgb(40, 37, 37);
    
    
}


.lorem-div{
    text-align: left;
    min-height: 300px;
    // border-radius: 20px;
    padding-top: 70px;
    // padding-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    
}
.ziko-para{
    margin-left: 100px;
    margin-top: 40px;
}

.ziko-pic{
   color: azure;
    // width: 100%;
    min-height: 700px;
    // height: auto;
    padding-top: 30px;
    // border-radius: 30px;
}

.ziko{
    width: 15%;

}
.sty{
    margin-top: 50px;
}

.nav-bar{

    margin-left: 500px;

}
ul{
    display: flex;
    text-align: center;
}
.first-button{
    height: 15px;
    margin-top: 24px;
    margin-left: 0px;
    border-radius: 20px;
    width: 10px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;

}
.nav-h{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    font-size: larger;
    margin-top: 20px;
    word-spacing: 200px;
}
.below-nav{
    text-align: left;
    letter-spacing: 3px;
    margin-top: 60px;
    margin-left: 200px;
    
}
.photography{
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 8px;
    
}

body{
    background-color: rgb(34, 31, 31);
    color: aliceblue;
}

.hand{
    width: 150px;
    height: 100px;
    margin-bottom: 50px;
}
.space{
    display: flex;
    justify-content: space-between;
}

// body{
//     background-color: rgb(24, 22, 22);
// }
.renai{
  width: 420px;
  margin-bottom: 50px;
  height: 330px;
}

.enai{
    width: 380px;
    margin-bottom: 50px;
    height: 200px;
}
.nai{
    width: 420px;
    margin-bottom: 50px;
    height: 300px;
}
.space3-div{
    display: flex;
    justify-content: space-between;

}

.ai{
    width: 440px;
    margin-bottom: 50px;
    margin-top: 60px;
    // margin-right: 50px;  
    // margin-left: 0px;
    height: 430px;
}

.i{
    width: 440px;
    margin-bottom: 50px;
    margin-top: 60px;
    height: 490px;
}  
.gallery{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 80px;
    color: antiquewhite;
    max-height: 120px;
}

.text-div{
    display: flex;
    justify-content: space-between;
    // justify-content: center;
}
.dolor{
    margin-top: 40px;
    color: azure;
}
.obj{
    margin-left: 20px;
    color: azure;
}
.igb{
    margin-top: 20px;
    margin-bottom: 10px;
}
// body{
//     background-color: rgb(42, 40, 40);
//     color: bisque;
// }
.port{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}
.about{
    width: 200px;
    // border-radius: rgb(225, 5, 5);
    border-radius: 10px;
    padding: 30px;
    margin-top: 70px;
    text-align: center;
    // padding: red;
    height: 80px;
    background-color: rgb(28, 34, 31);
}
h3{
    margin-top: 200px;
}

// body{
//     background-color: rgb(6, 5, 5);
//     color: aliceblue;
// }
.mail-div{
    display: flex;
    // margin-top: 0px;
    margin-left: 30px;
    margin-top: 50px;
    // justify-content: center;
    justify-content: space-between;
}
button{
//    padding: 10px;
   width: 90px;
   height: 33px;
}
.info{
    margin-right: 70px;
}


// body{
//     background-color: black;
//     color: azure;
// }
.footer{
    display: flex;
    margin-top: 70px;
    background-color: rgb(56, 55, 55);
    justify-content: space-around;
}
.foot{
    margin-top: 30px;
    margin-left: 17px;

}







                // FOOTER STYLES





